EscapeChar ~
#IgnoreUnknown ServerAliveInterval,ServerAliveCountMax

Include ~/.ssh/config.d/*.conf

Host *
  ControlMaster auto
  ControlPath ~/.ssh/sockets/%C
  ControlPersist 600
  IdentitiesOnly yes
  AddKeysToAgent yes
  ForwardAgent yes
  ExitOnForwardFailure yes
  #StreamLocalBindUnlink yes
