[Service]
Type=oneshot
ExecStart=/usr/bin/sudo /usr/bin/systemctl enable --now fail2ban.service
ExecStart=/usr/bin/sleep 10
ExecStart=/usr/bin/sudo /usr/bin/fail2ban-client reload
