{
  "inbounds": [
    {
      "port": 44380,
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "00000000-0000-0000-0000-000000000000"
          }
        ]
      },
      "streamSettings": {
        "network": "xhttp"
      }
    }
  ]
}
