[Unit]
StartLimitIntervalSec=120
StartLimitBurst=10

[Container]
Image=ghcr.io/qdm12/ddns-updater:latest
AutoUpdate=registry
Pod=ddns-updater.pod
Volume=../ddns-updater/data/config.json:/updater/data/config.json:Z

[Service]
Restart=always
RestartSec=10
OOMPolicy=continue
OOMScoreAdjust=-10
