[Unit]
StartLimitIntervalSec=60
StartLimitBurst=5

[Container]
Image=docker.io/dpage/pgadmin4:9
AutoUpdate=registry
Pod=pgadmin.pod
EnvironmentFile=../pgadmin/pgadmin.env

[Service]
Restart=on-failure
RestartSec=5
