[Container]
Image=docker.io/library/registry:latest
AutoUpdate=registry
Pod=registry.pod
EnvironmentFile=../registry/registry.env
Volume=../registry/config.yml:/etc/docker/registry/config.yml:ro
