[Container]
Image=docker.io/library/registry:latest
AutoUpdate=registry
Pod=registry.pod
Volume=../registry/registry/config.yml:/etc/docker/registry/config.yml:Z
