[Unit]
StartLimitIntervalSec=120
StartLimitBurst=10

[Container]
Image=lscr.io/linuxserver/swag:latest
AutoUpdate=registry
Pod=swag.pod
EnvironmentFile=../swag/swag.env
Volume=../swag/config/dns-conf/porkbun.ini:/config/dns-conf/porkbun.ini:Z
Volume=../swag/config/nginx/site-confs/default.conf:/config/nginx/site-confs/default.conf:Z
Volume=../swag/config/nginx/proxy-confs/custom:/config/nginx/proxy-confs/custom:Z
AddCapability=NET_ADMIN

[Service]
Restart=always
RestartSec=10
OOMPolicy=continue
OOMScoreAdjust=-10
