[Container]
Image=lscr.io/linuxserver/swag:latest
AutoUpdate=registry
Pod=swag.pod
EnvironmentFile=../swag/swag.env
Volume=../swag/config/dns-conf/porkbun.ini:/config/dns-conf/porkbun.ini:ro
Volume=../swag/config/nginx/site-confs/default.conf:/config/nginx/site-confs/default.conf:ro
Volume=../swag/config/nginx/proxy-confs:/config/nginx/proxy-confs:ro
AddCapability=NET_ADMIN
