[Container]
Image=lscr.io/linuxserver/swag:latest
AutoUpdate=registry
Pod=swag.pod
EnvironmentFile=../swag/swag.env
Volume=../swag/config/dns-conf/porkbun.ini:/config/dns-conf/porkbun.ini:Z
Volume=../swag/config/nginx/site-confs/default.conf:/config/nginx/site-confs/default.conf:Z
Volume=../swag/config/nginx/proxy-confs/ddns.subdomain.conf:/config/nginx/proxy-confs/ddns.subdomain.conf:Z
Volume=../swag/config/nginx/proxy-confs/registry.subdomain.conf:/config/nginx/proxy-confs/registry.subdomain.conf:Z
Volume=../swag/config/nginx/proxy-confs/suwayomi.subdomain.conf:/config/nginx/proxy-confs/suwayomi.subdomain.conf:Z
Volume=../swag/config/nginx/proxy-confs/syncyomi.subdomain.conf:/config/nginx/proxy-confs/syncyomi.subdomain.conf:Z
Volume=../swag/config/nginx/proxy-confs/xray.subdomain.conf:/config/nginx/proxy-confs/xray.subdomain.conf:Z
AddCapability=NET_ADMIN
