[Unit]
StartLimitIntervalSec=120
StartLimitBurst=10

[Container]
Image=ghcr.io/xtls/xray-core:latest
AutoUpdate=registry
Pod=xray.pod
Volume=../xray/xray:/usr/local/etc/xray:Z
AddCapability=NET_BIND_SERVICE

[Service]
Restart=always
RestartSec=10
OOMPolicy=continue
OOMScoreAdjust=-10
