EscapeChar ~
#IgnoreUnknown ServerAliveInterval,ServerAliveCountMax
Include ~/.ssh/config.d/*

Host *.local
  AddKeysToAgent yes
  ForwardAgent yes

Host *
  ExitOnForwardFailure yes
  # Reuse connections in backlog
  # https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Scope
  ControlMaster no
