# Reuse connections in backlog
# https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Scope

EscapeChar ~

Host raspberrypi.local raspberrypi
  CanonicalizeHostname yes
  User pi
  Port 22

Host 192.168.*
  ForwardAgent yes
  ExitOnForwardFailure yes

Host *
  ControlMaster no
