BIND_IP=0.0.0.0
BIND_PORT=4567
DOWNLOAD_AS_CBZ=true
BASIC_AUTH_ENABLED=false
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=
EXTENSION_REPOS=["https://github.com/keiyoushi/extensions"]
UPDATE_EXCLUDE_UNREAD=false
UPDATE_EXCLUDE_STARTED=true
UPDATE_EXCLUDE_COMPLETED=true
UPDATE_MANGA_INFO=true
FLARESOLVERR_ENABLED=true
FLARESOLVERR_URL=http://10.88.88.16:8191
