BIND_IP=0.0.0.0
BIND_PORT=4567
DOWNLOAD_AS_CBZ=true
AUTH_MODE=none
EXTENSION_REPOS=["https://github.com/keiyoushi/extensions"]
UPDATE_EXCLUDE_UNREAD=false
UPDATE_EXCLUDE_STARTED=true
UPDATE_EXCLUDE_COMPLETED=false
UPDATE_MANGA_INFO=true
FLARESOLVERR_ENABLED=true
FLARESOLVERR_URL=http://10.88.88.16:8191
DATABASE_TYPE=POSTGRESQL
DATABASE_URL=postgresql://10.88.10.88:5434/suwayomi
DATABASE_USERNAME=suwayomi
DATABASE_PASSWORD=suwayomi
