EscapeChar ~
#IgnoreUnknown ServerAliveInterval,ServerAliveCountMax
Include ~/.ssh/config.d/*

Host *
  ExitOnForwardFailure yes
  ControlMaster auto
  # %C = %r@%h-%p
  ControlPath ${HOME}/.ssh/sockets/%C
  ControlPersist 600
