name: 'Linux'

on:
  push:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    container: koalaman/shellcheck-alpine:stable
    defaults:
      run:
        working-directory: ./linux
    steps:
      - name: Clone dotfiles
        uses: actions/checkout@v3
      - name: ShellCheck
        run: |
          find . -type f -name '*.sh' | xargs shellcheck --external-sources --severity=error
          find . -type f -name '*.sh' | xargs shellcheck --external-sources --severity=style || echo "Shellcheck has some warnings"
