name: Windows

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches-ignore:
      - 'wip/**'

jobs:
  lint:
    name: PowerShell Lint
    runs-on: ubuntu-latest
    steps:
      - name: Clone dotfiles
        uses: actions/checkout@v4
      - name: PSScriptAnalyzer
        uses: devblackops/github-action-psscriptanalyzer@master
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
